# Database
DATABASE_URL=
DATABASE_URL_DIRECT=

# Auth Secret
AUTH_SECRET=tarbiyah-sunnah-crm-jwt-secret-key-production-2026-auth
APP_URL=http://localhost:5173
NODE_ENV=development

# Layanan SMTP Email Resmi (Kerjamail: no-reply@yts.web.id)
SMTP_HOST=mx.kerjamail.co
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=no-reply@yts.web.id
SMTP_PASS=ahlan1447H
SMTP_FROM="Yayasan Tarbiyah Sunnah" <no-reply@yts.web.id>
