# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Production build
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.*.local

# TypeScript build info
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Temporary & artifacts
scratch/
.system_generated/
